<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boxicons -->
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet">
    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='client_styles/alert_styles.css') }}">

    <title>Feedback</title>

    <style>
    /* Media Queries */
    @media (max-width: 768px) {
        textarea {
            height: 50%;
            font-size: 0.875rem;
        }

        .btn-group {
            gap: 1rem;
            width: 300px;
            display: contents;
        }

        .btn-group .btn {
            width: 30%;
            padding: 0.75rem 1rem;
            font-size: 0.875rem;
        }
    }

    @media (max-width: 480px) {
        .wrapper {
            padding: 1rem;
            height: 300px;
        }

        textarea {
            height: 40%;
            font-size: 0.75rem;
        }

        .btn-group {
            gap: 0.75rem;
        }

        .btn-group .btn {
            padding: 0.75rem 1rem;
            font-size: 0.75rem;
        }
    }
    </style>
</head>
<body>
    <!-- SIDEBAR -->
    <section id="sidebar">
        <a href="#" class="brand">
            <i class='bx bx-badge-check'></i>
            <span class="text">Stress Check</span>
        </a>
        <ul class="side-menu top">
            <li>
                <a href="{{ url_for('dashboard', username=username) }}">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('analytics') }}">
                    <i class='bx bxs-doughnut-chart'></i>
                    <span class="text">History</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('recommendation') }}">
                    <i class='bx bxs-message-rounded-dots'></i>
                    <span class="text">Recommendation</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('profile') }}">
                    <i class='bx bxs-user-circle'></i>
                    <span class="text">My Profile</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('faqs') }}">
                    <i class='bx bx-question-mark'></i>
                    <span class="text">FAQ's</span>
                </a>
            </li>
        </ul>
        <ul class="side-menu">
            <li class="active">
                <a href="{{ url_for('feedback') }}">
                    <i class='bx bxs-user-pin'></i>
                    <span class="text">Feedback</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('login') }}" class="logout">
                    <i class='bx bxs-log-out-circle'></i>
                    <span class="text">Logout</span>
                </a>
            </li>
            <img src="{{ url_for('static', filename='assets/plants.png') }}" alt="Image Description">
        </ul>
    </section>
    <!-- SIDEBAR -->

    <!-- CONTENT -->
    <section id="content">
        <nav>
			<i class='bx bx-menu' ></i>
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
		</nav>

        <!-- Flash Messages -->
			{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				<div id="flash-messages">
					{% for category, message in messages %}
					<div class="custom-alert {% if category == 'error' %}error-alert{% else %}success-alert{% endif %}">
						{{ message }}
					</div>
					{% endfor %}
				</div>
			{% endif %}
			{% endwith %}

        <!-- MAIN -->
        <main>
            <div class="head-title-center">
                <h1>Share your feedback</h1>
            </div>

        
            <!-- Feedback Form -->
            <div class="wrapper">
                <form id="feedback-form" method="POST" action="{{ url_for('feedback') }}">
                    <textarea name="feedback" class="feedback_textarea" cols="30" rows="5" placeholder="Share your feedback..." required></textarea>
                    <div class="btn-group">
                        <!-- Cancel redirects to the dashboard -->
                        <button class="btn cancel" onclick="window.location.href='{{ url_for('dashboard', username=username) }}'; return false;">Cancel</button>
                        <button class="btn submit" type="submit">Submit</button>
                    </div>
                </form>
            </div>

        </main>
    </section>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
			const flashMessages = document.querySelectorAll('.custom-alert');
			flashMessages.forEach(function(alert) {
				// Add the active class to show the alert
				alert.classList.add('active');
	
				// Remove the active class after 3 seconds to hide the alert
				setTimeout(function() {
					alert.classList.add('fade-out');
					// After fade-out, remove the element entirely
					setTimeout(function() {
						alert.remove();
					}, 500); // Timeout duration matches the CSS transition time
				}, 3000); 
			});
	
		
		});
    </script>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
