<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='client_styles/logIn_styles.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='client_styles/alert_styles.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='client_styles/login.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='assets/stress check.png') }}" type="image/x-icon">
  
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
  <header>
    <div class="nav__header">
      <div class="nav__logo">
        <a href="#" class="brand">
          <i class='bx bx-badge-check'></i>
        </a>
      </div>
      <div class="nav__menu__btn" id="menu-btn">
        <span><i class="ri-menu-line"></i></span>
      </div>
    </div>
  </header>

  <!-- Flash Messages -->
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div id="flash-messages">
      {% for category, message in messages %}
      <div class="custom-alert {% if category == 'error' %}error-alert{% else %}success-alert{% endif %}">
        {{ message }}
      </div>
      {% endfor %}
    </div>
  {% endif %}
  {% endwith %}


  <div class="container">
    <div class="content-wrapper">
      <div class="image-wrapper">
        <img src="{{ url_for('static', filename='assets/ofiice.png') }}" alt="header" class="header-image" />
      </div>
      <div class="wrapper">
        <form id="login-form" action="{{ url_for('login') }}" method="POST">
          <h1>Student Login</h1>
          <div class="input-box">
            <input type="text" name="username" placeholder="Username" required>
            <i class='bx bxs-user'></i>
          </div>
          <div class="input-box">
            <input type="password" name="password" placeholder="Password" required id="password">
            <i class='bx bxs-show' id="togglePassword" onclick="togglePasswordVisibility()"></i>
          </div>
          <button type="submit" class="btn">Login</button>
          <div class="register-link">
            <p>Don't have an account? <a href="{{ url_for('signup') }}">Register</a></p>
          </div>
          <div class="register-link">
            <p><a href="/">Home</a></p>
          </div>
        </form>
      </div>
      <div class="image-wrapper">
        <img src="{{ url_for('static', filename='assets/books.png') }}" alt="header" class="header-image" />
      </div>
    </div>
  </div>

  <!-- Incorrect login modal -->
  <div id="incorrectLoginModal" class="modal-overlay">
    <div class="modal-content">
      <div class="modal-header">Incorrect Password</div>
      <div class="modal-body">
        Would you like to try again or reset your password?
      </div>
      <div class="modal-footer">
        <button type="button" class="cancel-btn" onclick="hideModal('incorrectLoginModal')">Try Again</button>
      </div>
    </div>
  </div>

  <!-- User not found modal -->
  <div id="userNotFoundModal" class="modal-overlay">
    <div class="modal-content">
      <div class="modal-header">User Not Found</div>
      <div class="modal-body">
        The user you entered is not in our system. Would you like to sign up or cancel?
      </div>
      <div class="modal-footer">
        <button type="button" class="cancel-btn" onclick="hideModal('userNotFoundModal')">Cancel</button>
        <button type="button" class="signup-btn" onclick="window.location.href='{{ url_for('signup') }}'">Sign Up</button>
      </div>
    </div>
  </div>


  <script src="{{ url_for('static', filename='user_scripts/custom-alert.js') }}"></script>
  <script src="{{ url_for('static', filename='user_scripts/login.js') }}"></script>
</body>
</html>
