*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('leaf.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* Set the body height to the full viewport height */
}


.container {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255,255, 255, .2);
    backdrop-filter: blur(10px);
    color: #fff;
    border-radius: 12px;
    padding: 30px 40px;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Text shadow for emphasis */
    text-align: center;
}

.role-list {
    list-style-type: none;
    padding: 0;
}

.role-list li {
    margin-bottom: 30px;
}

.role-list li a {
    font-family: 'Courier New', Courier, monospace;
    display: block;
    padding: 20px;
    background-color: #3CB371; /* Blue */
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    border-radius: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    text-align: center;
}

.role-list li a:hover {
    background-color: #2E8B57; /* Darker blue on hover */
    transform: translateY(-5px); /* Move button up slightly on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6); /* Increase shadow on hover */
}