<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='assets/stress check.png') }}" type="image/x-icon">

    <title>User Management</title>
    <style>
        .form-input {
            position: relative;
        }
        
        .clear-icon {
            position: absolute;
            right: 40px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 18px;
            cursor: pointer;
            color: #888;
        }
        
        .clear-icon:hover {
            color: #333;
        }
        
        input[type="search"]::-webkit-search-cancel-button {
            display: none;
        }
        
        
    </style>
</head>
<body>

    <!-- SIDEBAR -->
    <section id="sidebar">
        <nav>
        <a href="#" class="brand">
            <i class='bx bx-badge-check'></i>
            <span class="text">Stress Check</span>
        </a>
        <ul class="side-menu top">
            <li>
                <a href="{{ url_for('admin_dashboard', username=username) }}">
                    <i class='bx bxs-dashboard' ></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="active">
                <a href="{{ url_for('management') }}">
                    <i class='bx bxs-user-detail'></i>
                    <span class="text">User Management</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('data') }}">
                    <i class='bx bxs-data'></i>
                    <span class="text">Data Management</span>
                </a>
            </li>
            <li>
				<a href="{{ url_for('edit_recommendation') }}">
					<i class='bx bxs-check-circle'></i>
					<span class="text">Recommendation</span>
				</a>
			</li>
            <li>
				<a href="{{ url_for('stress_questions') }}">
					<i class='bx bxs-message-square-edit'></i>
					<span class="text">Questionnaires</span>
				</a>
			</li>
            <li>
                <a href="{{ url_for('admin_feedback') }}">
                    <i class='bx bxs-user-pin'></i>
                    <span class="text">User Feedback</span>
                </a>
            </li>
        </ul>
        <ul class="side-menu">
           
            <li>
                <a href="{{ url_for('admin_logout') }}" class="logout">
                    <i class='bx bxs-log-out-circle' ></i>
                    <span class="text">Logout</span>
                </a>
            </li>
        </ul>
        </nav>
    </section>
    <!-- SIDEBAR -->

    <!-- CONTENT -->
    <section id="content">
    
        <nav>
            <i class="bx bx-menu"></i>
            <form action="{{ url_for('management') }}" method="GET">
                <div class="form-input">
                    <input type="search" id="searchInput" name="search" placeholder="Search..." value="{{ request.args.get('search', '') }}">
                    <!-- Clear Icon (×) -->
                    {% if request.args.get('search') %}
                        <span class="clear-icon" onclick="clearSearch()">×</span>
                    {% endif %}
                    <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
                </div>
            </form>
            
            
            
            
             
        </nav>
        <!-- NAVBAR -->

        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Manage User Accounts</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="{{ url_for('admin_dashboard', username=username) }}">Dashboard</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="#">Accounts</a>
                        </li>
                    </ul>
                </div>
            </div>


            <!-- Flash Messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div id="flash-messages">
                    {% for category, message in messages %}
                    <div class="custom-alert {% if category == 'error' %}error-alert{% else %}success-alert{% endif %}">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% endwith %}



            <div class="user-management">
                <div class="user-management-header">
                    <h2>User Accounts</h2>
                    <a href="{{ url_for('add_user') }}" class="btn-add-user">Add User</a>
                </div>

                <form id="deleteForm" method="POST" action="{{ url_for('management') }}">
                    <input type="hidden" name="user_id" value="">
                    <input type="hidden" name="delete_user" value="true">
                </form>

                <div class="table-responsive">
					<table class="user-management-table">
						<thead>
							<tr>
								<th>Username</th>
								<th>Email</th>
								<th>Role</th>
								<th>Password</th>
								<th>Age</th>
								<th>Gender</th>
                                <th>Year Level</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for user in users %}
							<tr>
								<td>{{ user.username }}</td>
								<td>{{ user.email }}</td>
								<td>{{ user.role }}</td>
								<td>{{ user.password }}</td>
								<td>{{ user.age }}</td>
								<td>{{ user.gender }}</td>
                                <td>{{ user.year_level }}</td>
								<td>
									<form method="POST" action="{{ url_for('management') }}" class="edit-delete-form">
										<input type="hidden" name="user_id" value="{{ user._id }}">
                                        <button type="submit" class="btn-icon" name="edit_user" data-role="{{ user.role }}" onclick="checkUserRole(event)">	
                                            <i class='bx bx-edit' title="Edit"></i>
                                        </button>            
										<button type="button" class="btn-icon delete" onclick="confirmDeleteUser(event, '{{ user.username }}', '{{ user._id }}')">
											<i class='bx bx-trash' title="Delete"></i>
										</button>
										
									</form>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
                <div class="pagination-container">
                    <div class="pagination-summary">
                        Page {{ page }} of {{ total_pages }}
                    </div>
                
                    <div class="pagination">
                        {% if page > 1 %}
                        <a href="{{ url_for('management', page=page-1, search=search) }}" class="pagination-link">&lt;</a>
                        {% else %}
                        <span class="pagination-link" disabled>&lt;</span>
                        {% endif %}
                    
                        {% if start_page > 1 %}
                        <a href="{{ url_for('management', page=1, search=search) }}" class="pagination-link">1</a>
                        <span class="dots">...</span>
                        {% endif %}
                    
                        {% for p in range(start_page, end_page + 1) %}
                        <a href="{{ url_for('management', page=p, search=search) }}" class="pagination-link {% if p == page %}active{% endif %}">{{ p }}</a>
                        {% endfor %}
                    
                        {% if end_page < total_pages %}
                        <span class="dots">...</span>
                        <a href="{{ url_for('management', page=total_pages, search=search) }}" class="pagination-link">{{ total_pages }}</a>
                        {% endif %}
                    
                        {% if page < total_pages %}
                        <a href="{{ url_for('management', page=page+1, search=search) }}" class="pagination-link">&gt;</a>
                        {% else %}
                        <span class="pagination-link" disabled>&gt;</span>
                        {% endif %}
                    </div>
                    
                </div>
                
                    
            </div>
        </main>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->

    <!-- Modal for delete confirmation -->
    <div id="deleteConfirmationModal" class="modal">
		<div class="modal-content">
			<span class="close" onclick="closeModal()">&times;</span>
			<h3>Confirm Delete</h3>
			<p id="deleteMessage"></p>
			<button class="btnClose" onclick="closeModal()">Cancel</button>
			<button class="btnConfirm" onclick="confirmDelete()">Yes</button>
		</div>
	</div>

 
    <script src="{{ url_for('static', filename='admin_scripts/management.js') }}"></script>
	<script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/script.js') }}"></script>
   
</body>
</html>
